.board-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  border-radius: min(1vw, 1vh);
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(7vw, 5vh);
  width: min(7vw, 5vh);
}

.snake {
  height: min(6vw, 4vh);
  width: min(6vw, 4vh);
  border-radius: min(1vw, 1vh);
  background-color: rgb(17, 190, 221);
}

.head {
  height: min(6vw, 4vh);
  width: min(6vw, 4vh);
  border-radius: min(1vw, 1vh);
  background-color: rgb(28, 201, 135);
}

.apple {
  height: min(6vw, 4vh);
  width: min(6vw, 4vh);
  background-color: rgb(255, 0, 0);
  border-radius: min(2vw, 2vh);
}

.eaten-apple {
  height: min(7vw, 5vh);
  width: min(7vw, 5vh);
  background-color: rgb(22, 195, 170);
  border-radius: min(2vw, 2vh);
}

.light {
  background-color: rgb(138, 138, 138);
}

.dark {
  background-color: rgb(126, 126, 126);
}